@import "./readable.css";

#header,
#section1,
.block,
.taxonomy,
div.links,
div.js-l1,
div.picture{
    display: none;
}

#inner-content {
    width: 52em;
    font: small helvetica;
    line-height: 1.5em;
}
.text-box {
    background-color: #fff;
}
